body {
  background: #575555;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}
h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.5px;
}

.swiper {
  width: 600px;
  max-width: 100%;
  height: 350px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
