body {
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.swiper {
  width: 600px;
  max-width: 100%;
  height: 350px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
