body {
  background: #575555;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}
h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.5px;
}

.swiper {
  width: 600px;
  max-width: 100%;
  height: 350px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select, input {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #1e90ff;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #187be0;
}

.result {
  width: 350px;
  height: 200px;
  border: 2px solid #000;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}
